<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge" name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>My Final Test・<%=title%></title>
	</head>
	<body>
		<%- body %>
	</body>
</html>
